 .cartImages{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.cartName{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;


};

.Item{
    color: red;
    padding-left: 30px;
    text-underline-offset: 1px solid black;
    font-size: bold;
    

}

.Price{
    color: red;
    padding-left: 200px;

}
.Quantity{
    color: red;
    padding-left: 80px;

}

.removeButton{
    background-color: red;
    float: right;
    border: none;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    margin-top: 65px;
}

.singleList{
    margin-top: 40px;
    list-style-type: none;

}

 .title{
    margin-right: 50px;
    background-color: aquamarine;

}

.price{
    margin-left: 70px;
    margin-bottom: 100px;

}

.quantity{
    margin-left: 90px;
    border:2px solid blue;
    padding-left: 10px;
    padding-right: 10px;

}  
